html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

webview {
    display: block;   /* iframes are inline by default */
    border: none;     /* Reset default border */
    height: 80vh;     /* Viewport-relative units */
    width: 95vw;
}
#root {
    display: flex;
    margin: auto;
    height: 100%;

}
#room-pan {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: rgb(0, 5, 48);
    user-select: none;
}

#chat-pan {
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
    width: 70%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    user-select: none;
}

#input {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin-left: -5px;
    margin-left: -10px;
    line-height: 32px;
}

#setting {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 5, 48);
    color: white;
}

#input textarea {
    width: 90%;
    font-size: 1.2em;
    padding: 5px;
}

.vert-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;

    user-select: none;
}

.bottom-stick {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.room-item{
    box-sizing: border-box;
    padding-left: 6px;
    height: 32px; 
    line-height: 32px;
    width: 100%;
    background-color: rgb(70, 81, 110);
    margin-bottom: 5px;
    flex-shrink: 0;
    
    
    color:rgb(144, 150, 168);
}

.room-item:hover{
    color: white;
}

.room-item span{
    user-select: none;
    pointer-events: none;
}

.selected{
    background-color: rgb(37, 79, 177);
    color: white;
}

.room-item:last-child{
    margin-bottom: 200px;
}

.msg-item{
    flex-shrink: 0;
}

.msg-item:last-child{
    margin-bottom: 150px;
}

.notice{
    position: relative;
}

.notice::after{
    box-sizing: border-box;
    content:'';
    position: absolute;
    background-color: crimson;
    border: 1px crimson solid;
    width: 4px;
    height: 32px;
    right:10px;
}

.font-bolder {
    font-size: normal;
    font-weight: 1000;
}

.font-normal {

}

.notice-item {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    min-height: 32px;
}

.notice-item::before,
.notice-item::after {
    background-color: darkgray;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.notice-item::before {
    right: 0.5em;
    margin-left: -50%;
}
.notice-item::after {
    left: 0.5em;
    margin-right: -50%;
}

.notice-item:last-child {

}

.font-notice {
    font-size: small;
    color:darkgray;

}

.vert-container::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.vert-container::-webkit-scrollbar-track {
    background-color: #ddd;
    z-index: 999;
}

.vert-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

.vert-container::-webkit-scrollbar-button {
    background-color: #888;
    display: none;
}

.vert-container::-webkit-scrollbar-corner {
    /*background-color: black;*/
}